.CardList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Card {
  width: 350px;
  height: 575px;
  margin-bottom: 200px;
  border: 1px solid gray;
  margin: 10px;
}

.Top {
  height: 350px;
}

.Bottom {
  height: 190px;
}

.Top img {
  width: 350px;
  height: 350px;
}

.Heart {
  position: relative;
  top: -364px;
  left: 290px;
}

.heart {
  font-size: 32px;
  width: 25px;
}

.Discount {
  border: 1px solid gray;
  width: 40px;
  border-radius: 10px;
  background-color: red;
  position: relative;
  top: -415px;
  left: 5px;
}

.notDiscount {
  display: none;
}

.NewPrice {
  font-size: 24px;
  color: red;
  font-weight: normal;
  margin-top: -5px;
}

.OldPrice {
  color: gray;
  text-decoration: line-through;
}

.Price {
  font-size: 20px;
}

.Boart {
  float: right;
  margin-right: 15px;
  font-size: 24px;
  position: relative;
  top: -40px;
}

p , input, label {
  padding-left: 15px;
  font-weight: bold;
}