.App {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  text-align: left;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li:first-child {
  border-radius: 10px 10px 0px 0px;
}

ul li:last-child {
  border-radius: 0px 0px 10px 10px;
}

ul li:nth-child(odd) {
  background-color: rgb(51, 138, 168);
}

ul li:nth-child(even) {
  background-color: rgb(174, 216, 229);
}

ul li.complete {
  background-color: rgb(226, 226, 226);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

ul li .deadline {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.Task {
  text-align: left;
  color: white;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.Date {
  background-color: rgb(102, 99, 99);
  padding: 5px;
  border-radius: 4px;
  margin-left: 5px;
  color: white;
  font-weight: normal;
}
