.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  text-align: left;
}

.container img {
  width: 400px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px ;
}

.container p {
  font-weight: bold;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
}

.work_list {
  display: flex;
  text-align: left;
  margin: 0px;
  padding: 10px;
  flex-wrap: wrap;
  list-style: none;
  border: 2px solid #ccc;
}

.work_list img {
  width: 220px;
  height: auto;
}

.image {
  border: 1px solid white;
  width: 220px;
  height: 420px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  margin: 12px;
  margin-right: 12px;
  margin-left: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
}

.Layout {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Layout main {
  flex: 1;
}

main {
  padding: 10px;
}

footer {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.description {
  font-weight: bold;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

button {
  background-color: rgb(146, 130, 130);
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  height: 30px;
  margin-top: 15px;
}